.idea/
*.ipr
*.iws
target/
catalina.home_IS_UNDEFINED/
.DS_Store
.DS_Store?
.vscode/

*.sc
/tmp.*
/tmp?.*
/tmp
*.log

/.sbtopts
/lib_managed/
scalafix

## Linux/KDE/Ubuntu
.directory
##

.bloop/
.metals/

bazel-*
!bazel-deps
.ijwb

bin/